/* You can add global styles to this file, and also import other style files */

.dx-toast-custom {
  background-color: #f05b41;
  color: white;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
